*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
    

}
.hide{
    display: none;
}
.car{
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 120px;
    background-image: url(Images/car.png);
    background-size: cover;
}
.GameArea{
    width: 400px;
    height: 100vh;
    background-color: rgb(29, 26, 26);
    margin: auto;
    position: relative;
    overflow: hidden;
    border-left: 10px dashed white;
    border-right:10px dashed white;
}
.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px; 
}

.other{

    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 120px;
    background-image: url(Images/car2.png);
    background-size: cover;
}
.Score{
    position: absolute;
    top: 15px;
    left: 50px;
    text-align: center;
    padding-top: 23px;
    font-size: 30px;
    line-height: 20px;
    background-color: rgba(238, 2, 100, 0.952);
    color: white;
    width: 300px;
    height: 110px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    background-image: url(./1017-33894.jpg);
    background-size: cover;
    
    

}
.StartScreen{
    position: absolute;
    background-color: rgba(8, 107, 255, 0.952);
    color: white;
    z-index: 1;
    margin-top: 210px;
    margin-left:360px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    font-size: 30px;
    width: 50%;
    height: 300px;
    cursor: pointer;
    border-radius: 23px;
    background-image: url(./screen\ strat.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
button{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

body{
    background-image: url(./5072773_31916.jpg);
    background-size: cover;
    height: 100vh;
    display: block;
    
}

